/*------------------------------------------------
                normal
--------------------------------------------------*/
*{
 margin:0;
 padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src: local('Calibri'), url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY6w&skey=a1029226f80653a8&v=v10) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
	background:#e2e1e1;
	font-family:calibri;
	}
  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: black;
  }
  /*------------------------------------------------
        ned of normal
--------------------------------------------------*/









 /*---------------------------------------------------
      General styling
 -----------------------------------------------------*/
 a{
	 text-decoration:none;
 }
 li{
	 list-style:none;
 }
 input{
	 outline:none;
 }
 .title{
	letter-spacing:2px;
	font-size:30px;
	background:#96af96;
	margin:20px 0 30px 0;
	padding:10px 10px;
  border-left: solid 10px green;
  position: sticky;

 }
 .newspostcontainer{
	background:white;
	box-shadow:0 0 20px 0px;
	padding:15px;
	border-radius:5px;
	width:fit-content;
}
.newshighlightcontainer{
	width:250px;
	height:260px;
	background:#ffffff;
  margin:0 auto;
  display:inline-block;
  margin:0 20px;
  transform: translateX(0px);
  font-weight:bold;
  color:rgba(0, 0, 0, 0.747);
  box-shadow: 0 0 10px 0;
  margin-top: 20px;
  transform: translateX(0px);
}

.placeinline{
  height:300px;
  display: flex;
  width: 86%;
  margin: 0 auto;
  overflow: hidden;
}
.newslide{
  width:100%;
  overflow:hidden;
  height:300px;
  position:relative;
  margin-bottom: 50px;
  background: white;
}
.newshighlightcontainer img{
	width:250px;
	height:170px;
}
#body{
  padding:0 1%;
}
.smallhighlight{
  padding:10px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.233);
  border-bottom: 2px solid rgba(0, 0, 0, 0.233);
  position:relative;
  width:300px;
  background: white;
}
.smallhighlight img{
  width:120px;
  height: 80x;
  display:inline-block;
}
.smallhighlight .text{
   display: block;
   width:fit-content;
   position:absolute;
   top:8px;
   left:130px;
   width:170px;
   font-size: 15px;
   color: rgba(0, 0, 0, 0.808);
}
.more{
  letter-spacing:2px;
  font-size:18px;
  width:87%;
  text-align:center;
	background:#96af96;
  margin:10px auto;
  margin-bottom:30px;
  border-radius:50px;
	padding:3px 3px;
  border-left: solid 10px green;
  border-right: solid 10px green;
  font-weight:bold;
  color: rgb(255, 255, 255);
  display:block;
}

.sidebar{
  position: sticky;
  top:80px;
  padding:10px;
  background: white;
  left:100%;
  height:540px;
  overflow: scroll;
  width:300px;
}
.newshighlightmobile{
  display: none;
}


 /*---------------------------------------------------
     end ofGeneral styling
 ------------------------------------------------------*/





  /*---------------------------------------------------
     BEGINING OF MAIN
 ------------------------------------------------------*/
nav{
	width:100%;
	height:60px;
	background:#477b6000;
  position: fixed;
  z-index: 3;
  

  
}
.logo{
  float:left;
  font-size:30px;
  height: inherit;
  font-family: 'special elite', sans-serif;
  color:white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: 20px;
}
.dashboardicon{
  width: 33px;
  margin: 9px 9px 0 0;
  border: 2px solid #ffffff42;
  border-radius: 4px;
  float: right;
  display: none;
}
.logo .logoin{
  color:black
}
 nav .menuitems{
   float:right;
   height:inherit;
   position: relative;
   margin-right:20px;
 }
 .menuitems div{
   height:inherit;
   position: relative;
   top: auto;
   display:inline-block;
   margin-right: -4;
 }
 .menuitems1 div{
  position: relative;
  margin:0 auto;
  text-align:center;
  padding:15px 0;
  border-bottom:1px #7978a759 solid;
}
 .menuitems1 div a{
	 color:#ffffffe1;
	 font-family: 'Courier New', Courier, monospace;
 }
.menuitems1{
  width: 100%;
  background: #1e263b;
  position: fixed;
  display:none;
  top:55.2px;
  z-index:3;
}
 .menuitems div a{

   font-family:cursive;
   font-size:12.5px;
   color:#ffffffa8;
   letter-spacing: 2px;
   position:relative;
   top:33%;
   padding:0 15px;
 }
 .menuitems .active{
   border-bottom:#131368 solid 3px;
   color:#ffffff;
 }
  .menuitems .active a{
    color: #ffffff;
    font-weight:bold;
  }
 .menuitems div a:hover{
   color:#ffffff;
   font-weight:bold;
 }




 /*   slideshow */
.slideshow{
  position: relative;
  height: 600px;
  width: 100%;
}
.slide1{
  width:100%;
  height:100%;
  position:relative;
  overflow: hidden;
}
.shadow{
  width:100%;
  height:600px;
  background:rgba(0, 0, 0, 0);
  position: absolute;
  top:0;
  box-shadow: inset 0px -300px 100px -50px #000000bf;
  z-index: 2;
}
.slidetxt{
	color:white;
	font-size:60px;
  margin-left:20px;
  position: absolute;
  top:250px;
  z-index: 2;
}
.slidetxt1{
	color:white;
	font-family:cursive;
	font-size:20px;
	margin-left:20px;
  position: absolute;
  top:370px;
  margin-top:20px ;
  z-index: 2;
}


.circles{
	display:flex;
  flex-wrap:wrap;
  position: absolute;
  top:300px;
  left:60%;
  z-index: 2;
}
.circles img{
	width:30px;
}
.circles1:hover{
	transform:scale(1.2);
	transition: all 0.2s;
}

.circles1 {
    padding: 17px 3px 4px 19px;
    border: 2px #3e8f49 solid;
    color: #b4a7ff;
    font-size: 21px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: #ffffffb2;
    z-index: 1;
}
.slidenav{
  position:relative;
  top:-40px;
  margin:0 auto;
  width:fit-content;
  z-index: 2;
}
.slidenav1, .slidenav2, .slidenav3{
  width:60px;
  height:8px;
  border:#000000c0 2px solid;
  display:inline-block;
  margin:0 10px;
}
 /*--------------*/
.previouscontainer, .nextcontainer{
  position: absolute;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  color:rgba(255, 255, 255, 0.616);
  background: rgba(0, 0, 0, 0.644);
  padding:20px 0 0 20px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor:pointer;
  top:40%
}
.slidecontentmobile{
  z-index: 2;
  position: absolute;;
  top:220px;
  left:10px;
  display: none;
}
.slidecontentmobile .slidetext1{
  font-size: 30px;
  color:rgb(255, 255, 255);
  margin-bottom:10px;
}
.slidecontentmobile button{
  padding:12px;
  background: transparent;
  border: 1px white solid;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  outline: none;
}
.slidecontentmobile button:hover{
  background: #3e8f49a1;
}
.nextcontainer{
  left:95%;
}
.previouscontainer{
  left:1%;
}
.previouscontainer:hover, .nextcontainer:hover{
  transform:scale(1.1);
  color:rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.previous{
	border-left:5px solid rgba(255, 255, 255, 0.788);
	border-bottom:5px solid rgba(255, 255, 255, 0.788);
	width:13px;
	height:13px;
	transform:rotate(45deg);
}
.next{
	border-top:5px solid rgba(255, 255, 255, 0.788);
	border-right:5px solid rgba(255, 255, 255, 0.788);
	width:13px;
	height:13px;
	transform:rotate(45deg);	
}
.newshighlightcontainer .text{
  margin-left:5px;
}
.newshighlightcontainer .timeposted{
  margin-left: 2px;
  color:#0000009e;
  position:absolute;
  top:90.5%;
}
.newshighlightcontainer .timeposted span{
  position:relative;
  left:5px;
  top:0px;
  font-size:13px;
}
.newshighlightcontainer .timeposted img{
  width:15px;
  height:15px;
  position: relative;
  top:3px;
}
.smallhighlight .timeposted img{
  width:15px;
  height:15px;
}
.smallhighlight .timeposted span{
  position: relative;
  top:-3px;
  left:4px;
  font-size: 13px;
  color:#0000009e;
}
.smallhighlight .timeposted{
  position: absolute;
  top:115%
}

  /*---------------------------------------------------
     END OF MAIN
 ------------------------------------------------------*/






 /*----------------------------------------------------
           footer
 ------------------------------------------------------*/
.footer{
	background:#0d0c1b;
	width:100%;
	height:200px;
  margin-top:50px;
  z-index: 1;
}
 /*----------------------------------------------------
         end of footer
 ------------------------------------------------------*/





























 /*----------------------------------------------------
         start of media query
 ------------------------------------------------------*/
@media(max-width:600px) {
  .menuitems{
    display: none;
  }
  .logo{
    position:relative;
    font-size: 23px;
    top: -16px;
    left: 100px;
  }
  nav{
    height: 40px;
    width: 100%;
  }
  .dashboardicon
  {
    display: block;
    width:23px;
    position: relative;
    top:-33px;
    right:0px;
  }
  .searchbutton{
    display: block;
    width: fit-content;
    position: relative;
    left:10px;
    top:5px;
    border: 1px #0000004b solid;
    border-radius: 50px;
    padding:4px 6px;
    background: #ffffff4b;
  }
  .searchbutton img{
    width:18px;
  }
  .slideshow{
    height:400px;
  }
  .shadow{
    height:400px;
    box-shadow: inset 0px -200px 100px -50px #000000bf
  }
  .slidenav1, .slidenav2, .slidenav3{
    width:20px;
    height:20px;
    border-radius: 50px;
    border:#ffffff50 1px solid;
  }
  .newshighlightcontainer{
    display:block;
    width:100%;
    margin:10px auto;
    transform: translateX(0px);
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.233);
    border-left: none;
    border-right: none;
    background:white;
  }
  .newshighlightcontainer img{ 
    width:100%;
  }
  .newslide{
    overflow: hidden;
    display: block;
    height: 550px;
    width: 100%;
    margin-bottom:0;
    border-bottom: none;
    border-top: 2px none;
    background: transparent;
 }
 .placeinline{
   overflow: visible;
   display: block;
   transform: translateX(0);
   height: fit-content;
   width: 95%;
   background: transparent;
 }
 .previouscontainer, .nextcontainer{
   display:none;
 }
 .timeposted img{
  width:20px;
  height:20px;
}
.timeposted span{
  top:-4px;
}
.smallhighlight{
  width:95%;
  margin: 0 auto;
}
.title{
  margin:20px 0 0px 0;
  padding:10px 5px;
  font-size:15px;
  letter-spacing: 1px;
  font-weight: bold;
  color:#000000d2;
}
.more{
  display: block;
}
.sidebar{
display:none;
}
.sidebar .title{
  display:none;
}
.newshighlightmobile{
  display: block;
}
.slidecontent{
  display:none;
}
.slidecontentmobile{
  display: block;
}

}



 /*----------------------------------------------------
         end of media query
 ------------------------------------------------------*/
