<!DOCTYPE html>
<html>
 <head>  
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Dancing+Script&family=Josefin+Sans:wght@300;400&family=Special+Elite&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
   Home
  </title>
  <link rel="stylesheet" href="static/css/homestyle.css">
 </head>
 <body>


<!--------------------------------------------------------------------------------------------------------------------
            navigation bar
--------------------------------------------------------------------------------------------------------------------->
  <nav id="navbar">
    <div class="searchbutton" onclick="searchinput()">
      <img src="static/icons/magnifier.png">
    </div>
   <div><img class="dashboardicon" onclick="menudropdown()" src="{{url_for('static', filename='icons/dashboard.png')}}"></div>
   <div class="logo">
    <span class="logoin">BLog</span>on
   </div>
   <div class="menuitems">
    <div class="active"><a href="#">Home</a></div>
    <div><a href="#">News</a></div>
    <div><a href="#">Sports</a></div>
    <div><a href="#">About</a></div>
   </div>
  </nav>
  
 <!-------------------------------------------------------------------------------------------------------------------->



 <!-----------------------------------------------------------------------------------------------------------------------
                            search input
-------------------------------------------------------------------------------------------------------------------------->
<div class="searchinput">
  <input type="text" placeholder="search">
  <button class="searchbutton2">go</button>
</div>




<!-------------------------------------------------------------------------------------------------------------------------->

 
 
  <!--------------------------------------------------------------------------------------------------------------------
                  menu items for mobile version
 ---------------------------------------------------------------------------------------------------------------------->
 
 <div class="menuitems1">
  <div class="menuitems1elements" onclick="menuitems0()"><a href="#"><img src="static/icons/home.png">Home</a></div>
  <hr>
  <div class="menuitems1elements" onclick="menuitems1()"><a href="#"><img src="static/icons/menu.png">News</a></div>
  <hr>
  <div class="menuitems1elements" onclick="menuitems2()"><a href="#"><img src="static/icons/foot.png">Sports</a></div>
  <hr>
  <div class="menuitems1elements" onclick="menuitems3()"><a href="#"><img src="static/icons/about.png">About</a></div>

 <hr class="hr1">
  
 <div class="menuitems1elements"><a href="#"><img src="static/icons/world.png">Let's connect</a></div>
  <div class="social">
   <a href="instagram.com/nutflamme"><img src="static/icons/instagram.png"></a>
   <a href="#"><img src="static/icons/facebooks.png"></a>
   <a href="twitter.com/nutflame"><img src="static/icons/twitters.png"></a>
</div>
<hr class="hr1"><br>
 </div>
 
<!--------------------------------------------------------------------------------------------------------------------> 

<!---------------------------------------------------------------------------------------------------------------------
               slideshow
----------------------------------------------------------------------------------------------------------------------> 
<div class="shadow"></div>   
<div class="slideshow">
     <div class="slide1">
       <img id="mainslide">
     </div>
     <div class="slidenav">
       <div onclick="clicknav1()" class="slidenav1">

       </div>
       <div onclick="clicknav2()" class="slidenav2">
         
      </div>
      <div onclick="clicknav3()" class="slidenav3">
         
      </div>
     </div>
   </div>
   
<!--------------------------------------------------------------------------------------------------------------------> 


<!---------------------------------------------------------------------------------------------------------------------
         slideshow content desktop
----------------------------------------------------------------------------------------------------------------------> 

<div class="slidecontent">
<div class="slidetxt">
  Basic blog
</div>
   <div class="circles">
    <div class="circles1">
     <img src="{{url_for('static', filename='icons/foot.png')}}">
    </div>
    <div class="circles1">
     <img src="{{url_for('static', filename='icons/menu.png')}}"">
    </div>
    <div class="circles1">
     <img src="{{url_for('static', filename='icons/music.png')}}">
    </div>
   </div>
  </div>
<!--------------------------------------------------------------------------------------------------------------------> 


<!---------------------------------------------------------------------------------------------------------------------
         slideshow content mobile
---------------------------------------------------------------------------------------------------------------------->
<div class="slidecontentmobile">
  <div class="slidetext1">
    bringing the news your way
  </div>
  <a href="#"><button class="news button"></a>
    latest news
  </button>
</div>

<!--------------------------------------------------------------------------------------------------------------------> 





<div id="body">
<!---------------------------------------------------------------------------------------------------------------------
                scroll latest news content
---------------------------------------------------------------------------------------------------------------------->  
<div class="title">
   LATEST NEWS
</div>
<div CLASS="newslide">
  <div class="previouscontainer">
    <div class="previous"></div>
  </div>
  <div class="nextcontainer" onclick="next()">
    <div class="next"></div>
  </div>
  <div class="placeinline">
   <div class="newshighlightcontainer">
     <img src="static/newsimages/news1.jpg">
     <div class="text">reassuring you that the vote is good project in anything ad f;ajfisdjfoasifoashfasjcfiasbfk</div>
     <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">7 </span><span class="timetext">mins ago</span>
    </div>
   </div>


   <div class="newshighlightcontainer">
    <img src="static/newsimages/news2.jpg">
    <div class="text">r afa afasfafaf f a afsfewt yrj ehj ether rg wehe gdf er hergh ereassurfsafing you that the vote is good</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">6 </span><span class="timetext">mins ago</span>
    </div>
  </div>

  <div class="newshighlightcontainer">
    <img src="static/newsimages/news3.jpg">
    <div class="text">swgvojsopdo dj 0psudp sd pogju oad gi]0[-di gpasgpu jsdpgupsdg r easgsg uring you that the vote is good</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">1 </span><span class="timetext">mins ago</span>
    </div>
  </div>
 

  <div class="newshighlightcontainer">
    <img src="static/newsimages/news4.jpg">
    <div class="text">reassufsdchfioas ca cfhiuc hfh cfas hcoh oc asc asoihcoashxcoas hfring you that the vote is goasfasf odsdew</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">2 </span><span class="timetext">mins ago</span>
    </div>
  </div>
  
  <div class="newshighlightcontainer">
    <img src="static/newsimages/news5.jpg">
    <div class="text"> reassuring you that the vote is goodzxcac sfcoay fcosy a9oyas a9syfo yas iydqpwepoy9 weygwey 9pgy we9o wv9woe</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">3 </span><span class="timetext">mins ago</span>
    </div>
  </div>


  <div class="newshighlightcontainer">
    <img src="static/newsimages/news6.jpg">
    <div class="text">rfsdjf pding you thadgs o sdohsdoihosdov sdo 0opsd cpsd puvsdp ujpdt the vote is good</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
  </div>


  <div class="newshighlightcontainer">
    <img src="static/newsimages/news7.jpg">
    <div class="text">sdfipwfu iwoi0u-pu fu 090pqu09u [0asu9pasuf c ufi-sdfi psdi ]-aik]sdi v-dpgoj a'go hvl gafgi ugtcf astgcf ias uyfstuift</div>
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
  </div>

  </div>
</div>




<!-------------------------------------------------------------------------------------------------------------------->  






<!--------------------------------------------------------------------------------------------------------------------
                            mobile version latest news
--------------------------------------------------------------------------------------------------------------------->
<div class="newshighlightmobile">
<div class="smallhighlight">
  <img src="static/newsimages/news1.jpg">
  <div class="text">
    hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
  </div>
</div>  

<div class="smallhighlight">
  <img src="static/newsimages/news2.jpg">
  <div class="text">
    hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
  </div>
</div>  

<div class="smallhighlight">
  <img src="static/newsimages/news4.jpg">
  <div class="text">
    hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
    <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
  </div>
</div>  <hr>
<a href="#">
  <div class="more">
  More
 </div>
</a>
</div>
<!-------------------------------------------------------------------------------------------------------------------->




<!--------------------------------------------------------------------------------------------------------------------
                              side bar
---------------------------------------------------------------------------------------------------------------------->  
<div class="sidebar">
  <div class="title">popular</div>
  <div class="sidebaroverflow">
  <div class="smallhighlight">
    <img src="static/newsimages/news1.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  
  
  <div class="smallhighlight">
    <img src="static/newsimages/news2.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  
  
  <div class="smallhighlight">
    <img src="static/newsimages/news4.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  

  <div class="smallhighlight">
    <img src="static/newsimages/news4.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  

  <div class="smallhighlight">
    <img src="static/newsimages/news4.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  

  <div class="smallhighlight">
    <img src="static/newsimages/news4.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  

  <div class="smallhighlight">
    <img src="static/newsimages/news4.jpg">
    <div class="text">
      hhbbrerererbtbrgvrere vrerdoisah aishfosahfcohocuhoif 8c f
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>  

  </div>
  </div>

<!-------------------------------------------------------------------------------------------------------------------->  




<!------------------------------------------------------------------------------------------------------------------------
                                        main container
-------------------------------------------------------------------------------------------------------------------------->
<div class="maincontainer">
  <div class="maincontainersub" id="maincontainersub1" style=" background: url('static/newsimages/news9.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
   <div class="maincontainersubtitle">
     title of the blog post here sdfffff gfdfgd gfdgdfgdf gfdgdfgd dfgdfgd dgdfgdg 
     <div class="timeposted">
      <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
    </div>
   </div>
  </div>

  <div class="maincontainersub" id="maincontainersub2" style=" background: url('static/newsimages/news1.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>

  <div class="maincontainersub" id="maincontainersub3" style=" background: url('static/newsimages/news2.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>

  <div class="maincontainersub" id="maincontainersub4" style=" background: url('static/newsimages/news3.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here
      <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>

  <div class="maincontainersub" id="maincontainersub5" style=" background: url('static/newsimages/news4.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here     <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>

  <div class="maincontainersub" id="maincontainersub6" style=" background: url('static/newsimages/news5.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here     <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>

  <div class="maincontainersub" id="maincontainersub7" style=" background: url('static/newsimages/news6.jpg');">
    <a href="#">
      <div class="maincontainersubcat">
      cat here
    </div>
   </a>
    <div class="maincontainersubtitle">
      title of the blog post here     <div class="timeposted">
        <img class="timer" src="static/icons/timer.png"><span class="timenumber">4 </span><span class="timetext">mins ago</span>
      </div>
    </div>
  </div>
</div>







<!-------------------------------------------------------------------------------------------------------------------------->
   
   
   


</div>  
<!------------------------------------------------------------------------------------------------------------------
                              javascript
--------------------------------------------------------------------------------------------------------------------->
<script src="{{url_for('static', filename='java script/home.js')}}"></script>
<!-------------------------------------------------------------------------------------------------------------------->



<!--------------------------------------------------------------------------------------------------------------------
                       FOOTER
---------------------------------------------------------------------------------------------------------------------->
<div class="footer">
  
</div>





<!--------------------------------------------------------------------------------------------------------------------> 
</body>





</html>
